body, h1, p {
  margin: 0;
}
header{
  background :hsl(30, 80%, 50%);
  text-align: center;
  padding-top: 64px;
}
header img{
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-size : 16px;
  font-family: Verdana, sans-serif;
  color: hsl(120, 80%, 50%);
  align-items: center;
}

.btn{
  text-decoration: none;
  display: block;
  width: 176px;
  line-height: 48px;
  margin: 42px auto 50px;
  font-size: 16px;
  font-weight: bold;
  background: hsl(0, 80%, 50%);
  color: hsl(180, 80%, 50%);
  border-radius: 4px;
}
.btn:hover{
  opacity: 0.9;
}
.feature img {
  width:100%;
}
.feature > h1 {
  text-align: center;
  padding: 64px 0px;
  font-weight: normal;
}
.feature .container {
  margin: 0 16px;
}
.feature p {
  line-height: 1.8;
}
.feature section {
  padding: 0px 0px 64px 0px;
}

.member {
  background: lightgray;
}
.member > h1 {
  text-align: center;
  padding: 64px 0px;
  font-weight: normal;
}
.member h2 {
  font-size: 20px;
}
.member ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.member li {
  padding-bottom: 24px;
}
.member img {
  border-radius: 50%;
  width: 160px;
}

.call-to-action{
  background: hsl(30, 80%, 50%);
  color: hsla(210, 80%, 50%);
  text-align: center;
  padding: 64px 0px;
}
.call-to-action h1{
  font-weight: normal;
}
