
/*================================================*/
/*mobile screen styles============================*/


/*common===============*/

[href]{
  text-decoration: none;
}

body{
  background-image: url('../images/portfolio_back.jpg');
  background-size: contain; 
  background-color: rgba(163,177,198,1); 
  color: rgb(50,50,50);
  font-family: Verdana, sans-serif;
  margin: 0px;
}

h1{
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 8px;
  border-radius: 4px;
  width:auto;
  border-style: solid;
  border-width: 0px 0px 8px 0px;
  border-color: rgba(240, 120, 60, 1);
  text-align: center;
  font-weight: normal;
  background-color: rgba(240,240,240,1);
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);

}

h3{
  margin: 16px 16px 24px 16px;
  padding-bottom: 8px;
  border-style: solid;
  border-width: 0px 0px 8px 0px;
  border-color: rgba(240, 120, 60, 1);
  font-weight: normal;
  text-align: center;
  font-size: 24px;
}

a, a:visited{
  color: rgba(50, 50, 50, 1);
}
table{
  width: 100%;
  table-layout: auto;

}
table tr td:first-child{
  border-style: solid;
  border-width: 0px 0px 0px 8px;
  border-color: rgba(240, 120, 60, 1);
}
table tr:nth-child(odd) td{
  background-color: rgba(240,240,240,1);
}
table tr:nth-child(even) td{
  background: rgba(216,216,216,1);
}
td{
  padding: 16px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);

}

/* header======================================== */

header{
  /* background-color:rgba(163,177,198,1); */
  margin: 64px 0px 32px 0px;
  /* border-style: solid;
  border-width: 0px 0px 8px 0px;
  border-color: rgba(240, 120, 60, 1); */
}

.header_container{
  background-color: rgba(240,240,240,1);
  max-width: 400px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 32px 32px 32px;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

.icon img{
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: rgba(240, 120, 60, 1);
  /* box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5); */
  /* -5px -5px 10px 0  rgba(255,255,255,0.4);  */
}

.info{
  margin-left: 32px;
}

.info h1{
  font-size: 24px;
  font-weight: normal;
  color: rgb(50, 50, 50);
  margin: 0;
}

.info p{
  margin: 0px;
  margin-bottom: 16px;
}

.info p:first-child{
  font-size: 24px;
}

.info ul{
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style-type: none;
}

.info li{
  margin-right: 8px;
}

/* navigation================================================ */

nav{
  max-width: 360px;
  padding: 32px 0px 32px 0px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

nav h2{
  font-weight: normal;
  color: rgba(50, 50, 50, 1);
  background-color: rgba(240,240,240,1);
  font-size: 20px;
  text-align: center;
  padding: 8px;
  margin-top: 36px;
  margin-bottom: 24px;
  border-width: 0px;
  border-left: 24px;
  border-color: rgba(240, 120, 60, 1);
  border-style: solid;
  border-radius: 4px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

/* shokai====================================================*/

.shokai{
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  border-radius: 4px;
  align-items: center;
  background-color: rgba(240,240,240,1);
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);

}

/* history ================================================== */

.history{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.history tr{
  border-width: 0px 0px 0px 8px;
  border-color: rgba(240, 120, 60, 1);
}

/* skills=================================================== */

.skill{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/*works======================================================*/

.works{
  width: 100%;
  margin-left:auto;
  margin-right: auto;
}

.works > section {
  width : auto;
  height: auto;
  margin-top: 64px;
  justify-content:space-around;
}

.works_img img{
  width: 100%;
  height : 100%;
}

.works_video video{
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 1);
}

.works_text{
  flex: 1 0 360px;
  box-sizing: border-box;
  background-color: rgba(240,240,240,1);
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5)

}

.works p {
  padding-left:16px;
  padding-right: 16px;
  line-height: 1.8;
}

.githublink{
  color: royalblue;
}

/* footer =======================================================*/

footer{
  margin: 64px 0px 0px 0px;
  border-style: solid;
  border-width: 8px 0px 0px 0px;
  border-color: rgba(240, 120, 60, 1);
  padding: 32px 0px 32px 0px;
  text-align: center;
  background-color: rgba(240,240,240,1);
}

footer > p{
  font-size: 14px;
  color: rgba(64,64,64,1);
}

/* ==================================================================*/
/* ======mideum screen styles =======================================*/


@media (min-width: 800px) {

  h1{
    width: 580px
  }

  .shokai{
    width: 60%;
  }

  .shokai p{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .works > section {
    display: flex;
  }

  .works > section:nth-of-type(even){
    flex-direction: row-reverse;
  }

  .works_img{
    flex: 1 1 360px;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
    margin: 8px;
   }

  .works_img > img{
    object-fit: cover;
  }

  .works_video{
    flex: 1 1 360px;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
    margin: 8px;
  }

  .works_text{
     margin: 8px;
  }

  .works, .skill, .history {
    width: 90%;
  }

}

/* =========================================================*/
/* =========large screen styles=============================*/


@media (min-width: 1080px) {
  .works, .skill, .history {
    width: 950px;
  }
}
