
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
p{
  color: rgba(0, 0, 0, 0.8);
}
.infowindow{
  color: crimson;
}
.map {
  height: 80%;
  width: 90%;
  background-color: rgba(240,240,240,1);
  max-width: 1200px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 32px 32px 32px;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}
.select{
  background-color: rgba(216,216,216,1);
  max-width: 520px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding: 32px;
  align-items: center;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}
.select_container{
  display: flex;
  margin: auto;
}
.selectDate{
  margin: 12px;
  background: rgba(255, 255, 255,0.8);
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}
.selectType{
  margin: 12px;
  padding: 4px 4px 4px 4px;
  background: rgba(255, 255, 255,0.8);
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}
.threshold_label{
  margin: 12px 0px 12px 12px;
}
.threshold{
  margin: 12px 12px 12px 0px;
  padding: 4px 4px 4px 4px;
  background: rgba(255, 255, 255,0.8);
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}
.koushin{
  margin: 16px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 160, 64, 0.8);
  border: none;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}
.discribe{
  align-items: center;
}
.discribe > p{
  padding: 8px;
}
