body, h1, p {
  margin: 0;
}
.container {
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

header{
  background :hsl(30, 80%, 50%);
  text-align: center;
  line-height: 52px;
  height: 64px;
  width; auto;
}

.wordContainer{
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 48px;
  letter-spacing: 3px;
}
.word{
}
.doneWord{
  color: gray;
}
.end{
  color: orange;
}

.info{
  color: #ccc;
}

.box{
  width:100px;
  height:100px;
  background-color: skyblue;
  cursor: pointer;
  transition: 0.8s;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-weight: bold;
}
